<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="landing-page">
        <div class="lp-about">
            <h1 class="lp-h1"><i>Empower your thoughts, Share your voice</i></h1>
            </br>
            <p class="lp-p">
                Discover the ultimate self-hosted blogging tool. </br>
                Seamlessly write, publish, and engage with readers through captivating articles. </br>
                Join a vibrant community of writers and readers!</br>
            </p>
        </div>
        <div class="login-form-box">
            <form id="login" class="login-input-group" method="POST" action="/login">
                <h2 class="form-h2">Login</h2>
                <input type="text" id="username" name="username" class="input-field" placeholder="Username"
                    title="Please fill this out" required>
                    <div class="password-field">
                        <input type="password" id="password" name="password" class="input-field"
                            placeholder="Password" required>
                        <div class="show-password">
                            <i class="fa fa-fw fa-eye-slash" onclick="showPassword()"></i>
                        </div>
                    </div>
                <% if (errorMessage_login) { %>
                    <p style="color: red; font-size: 14px;">
                        <%= errorMessage_login %>
                    </p>
                    <% } %>
                        <button type="submit" class="submit-btn">Log In</button>
                        <div class="sign-up-prompt">
                            <label>Not registered? </label> <a href="/register">Sign up</u></a>
                        </div>
            </form>
        </div>
    </div>
</body>
<script>
    function showPassword() {
        var userPassword = document.getElementById("password");
        var icon = document.querySelector(".password-field i");

        if (userPassword.type === "password") {
            userPassword.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            userPassword.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }
</script>

</html>